<header id="chat-header">
    <img src="{{ url_for('static', filename='img/image_お皿.png') }}" alt="アプリのアイコン画像">
    <p class="chat-name">{{ family_name }}</p>

    <div class="hamburger-menu"> 
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <!--ここからメニュー-->
        <div class="menu-content"> 
            <ul>
                {% if is_admin %}
                {% include 'chat_menu_1.html' %}
                {% else %}
                {% include 'chat_menu_2.html' %}
                {% endif %}
            </ul>
        </div>
        <!--ここまでメニュー-->
    </div>
</header>