<!DOCTYPE html>
<html lang ="ja">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>チャット画面top</title>
        <link rel="stylesheet" href="chat_top.css">
    </head>
    <!--headとjinja2{}base.htmlからhead情報を持ってくる？-->

    <body>
        <!--ヘッダー情報-->
        <header id="chat-header">
            <image src="../static/img/image_お皿.png"alt="アプリのアイコン画像">
            <h3>チャットアプリ名→DBで記録された家族名をもってくる？jinja？</h3>
            <a href=""><image src="../static/img/image_メニューバー.png"alt="メニューバー画像"></a>
        </header>

        <!--チャット送信機能／チャット履歴を表すエリア-->
        <main id="chat-main">
            <!--チャット履歴表示画面-->
            <div class="message">
                <p>あああ</p>
                <p>いいい</p>
            </div>


            <!--チャット送信機能-->
            <form action="{{ url_for( 'create_messages', family_id=Family_id )}}" method=POST>
                <textarea placeholder="文字を入力する"></textarea>
                <button type="submit" name="button"value="blank">
                    <form>　</form>
                </button>
            </form>
            
        </main>


    </body>




</html>