{% extends 'base.html' %}<!--bese.htmlとheader.htmlを継承する-->

{% block title %}
<title>チャット画面top</title>
{% endblock %}

{% block head %}
{{ super() }}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat_top.css') }}" />
{% endblock %}
{% endblock %}

{% block body %}
        <!--チャット送信機能／チャット履歴を表すエリア-->
        <main class="chat-message">
            <!--チャット履歴表示画面-->
            <div class="chat-rireki">
                <ul class="message">
                    <!--ログインしているユーザーのチャット履歴表示-->
                    {% if messages|length > 0 %}{% for message in messages %}{% if message.user_id == user_id %}
                        <div class="message_user-myself">
                            <p class="box box-right">{{ message.content}}</p>
                        </div>
                    <!--その他の人のチャット履歴の表示-->
                    {% else %}
                        <div class="message_user-others">
                            <p class="user-name">{{ message.user_name}}</p>
                            <p class="box box-left">{{ message.content}}</p>
                        </div>
                    {% endif %}{% endfor %}{% endif %}
                </ul>
            </div>

            <!--チャット送信機能-->
            <div class="message-type-area">
                <form action="{{ url_for( 'create_message', family_id=family_id )}}" method=POST>
                    <textarea placeholder="文字を入力する" name="message"></textarea><!-- inputタグにname属性を使ってユーザーが入力した値を取得する -->
                    <button type="submit" name="button" value="blank">送信▶</button>
                </form>
            </div>
        </main>
{% endblock %}