
<!--{% extends 'base.html' %} -->
<!DOCTYPE html>
<html lang ="ja">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>チャット画面top</title>
        <link rel="stylesheet" href="../static/css/chat_top.css"/>
        <link rel="stylesheet" href="../static/css/chat_header.css"/>
    </head>

    <body>
        <!--ヘッダー情報-->
        <header id="chat-header">
            {% include 'components/chat_header.html' %}
        </header>

        <!--チャット送信機能／チャット履歴を表すエリア-->
        <main class="chat-message">
            <!--チャット履歴表示画面-->
            <div class="chat-rireki">
                <p class="user-name">{{ user_name }}</p>
                <ul class="message">
                    <!--ログインしているユーザーのチャット履歴表示-->
                    {% if messages|lenght > 0 %}{% for message in messages %}{% if messages.user_id == user_id == true %}
                        <div class="message_user-myself">
                            <p class="box box-right">{{ messages.content}}</p>
                        </div>
                    <!--その他の人のチャット履歴の表示-->
                    {% else %}
                        <div class="message_user-others">
                            <p class="user-name">{{ messages.user_name}}</p>
                            <p class="box box-left">{{ messages.content}}</p>
                        </div>
                    {% endif %}{% endfor %}{% endif %}
                </ul>
            </div>


            <!--チャット送信機能-->
            <div class="message-type-area">
                <form action="{{ url_for( 'create_message', family_id=Family_id )}}" method=POST>
                    <textarea placeholder="文字を入力する"></textarea>
                    <button type="submit" name="button" value="blank">
                        <form>送信▶</form>
                    </button>
                </form>
            </div>
            
        </main>


    </body>




</html>