<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>チャットメニュー1</title>
        <link rel="stylesheet" href="../static/css/chat_menu.css">
    </head>


    <body>
        <!--管理者権限のメニューadmin権限-->
        <ul class="menu">
            <li><a href="signup_family.html">家族IDの追加</a></li>
            <li><a href="">ご飯決定機能</a></li>
            <li><a href="{{url_for('history_view', family_id=family_id)}}">ごはん履歴</a></li>
            <li><a href="chat_top.html">チャットルーム</a></li>
            <!--ログアウト機能-->
            <li><a href="./logout">ログアウト</a></li>
        </ul>


    </body>
</html>
