{% extends 'base.html' %} 

{% block title %}
<title>decide</title>
{% endblock %}

{% block head %} 
{{ super() }} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/decide.css') }}" />
{% endblock %}

{% block header %} 
<header id="chat-header">
    <img src="{{ url_for('static', filename='img/image_お皿.png') }}" alt="アプリのアイコン画像"> 
    <p class="chat-name">{{ family_name }}</p> 
    <a href="{{ url_for('chat_menu_view', family_id=family_id) }}"><img
            src="{{ url_for('static', filename='img/image_メニューバー.png') }}" alt="メニューバー画像"></a>   
</header>
{% endblock %}

{% block body %} 
<main class="main-content">
    <!-- フォームタグで囲みユーザーが入力したメニューをサーバーに送信する -->
    <form action="{{ url_for('decide_menu', family_id=family_id) }}" method="POST">
        <p>今日のご飯は</p>
        <div>
            <!-- inputタグにname属性を使ってユーザーが入力した値を取得する -->
            <input type="text" id="decide-menu-input" name="menu" placeholder="メニューを入力" required />
        </div>
        <div class="decide-button-container">
        
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <p>に決定!</p>
        
            <button class="decide-button " type="submit">チャットに送信する</button>
        </div>   
    </form>
</main>
{% endblock %}
