{% extends 'base.html' %}

{% block title %}
<title>history</title>
{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %} 

{% block body %}
<div class="history-wrapper">
<div class="main-content">
  <h1>ごはん履歴</h1>
    <div class="menu-list">
      <table>
        {% for history in histories %}
          <tr>
            <td class="menu">{{ history.menu }} </td>
            <td class="created_at">{{ history.created_at.strftime("%m/%d") }}
            ({{ WEEKDAYS[history.created_at.weekday()]}})</td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>
</div>
{% endblock %}
