<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ゴハンドースル</title>
</head>

<body>
    <!-- お皿とフォークとナイフの絵文字を入れる処理 -->
    <img src="static/sample.jpg" alt="お皿の写真">

    <!-- ファミリーチャットに入る場合はこちらから！と表示させる -->
    <p>ファミリーチャットに入る場合はこちらから！</p>

    <!-- ログインボタンを作成 -->
    <button type ="submit">ログイン</button>

    <!-- 新規のファミリーチャット作成はこちらから！と表示させる-->
    <p>新規のファミリーチャット作成はこちらから！</p>
    
    <!-- 新規登録ボタンを作成 -->
    <button type="submit">新規登録</button>





</body>

</html>