{% extends 'base.html' %}

{% block body %}
<div class="auth-wrapper">
    <div class="auth-container"> 
        <div class="container">
            <img src="{{ url_for('static', filename='img/image_アプリ名.png') }}">
        </div>

        <div class="icon">
            <img src="{{ url_for('static', filename='img/image_お皿.png') }}">
            <p class="description">ファミリーチャットに<br>入る場合はこちらから！</p>
            <button>
                <a href="{{ url_for('login_view') }}">ログイン</a>
            </button>
            <p class="description">新規のファミリーチャット<br>作成はこちらから！</p>
            <button class="white-button">
                <a href="{{ url_for('signup_view') }}">新規登録</a>
            </button>
        </div>
    </div> 
</div>
{% endblock %}