<!-- _formhelpers.htmlの中のマクロrender_fieldを呼び出す -->
{% from "_formhelpers.html" import render_field %}
<!-- base.htmlを継承する -->
{% extends 'base.html' %}

{% block title %}ゴハンドースル{% endblock %}

{% block content %}
<main>
    <div>
        <h1 class="logo-text">ゴハンドースル</h1>
        <img src="static/sample.jpg" alt="お皿の写真">

        <form>
            <p>ファミリーチャットに入る場合はこちらから！</p>
                <button>
                    <a href="{{ url_for('ChatApp.login') }}">ログイン</a>
                </button>
    
            <p>新規のファミリーチャット作成はこちらから！</p>
                <button>
                    <a href="{{ url_for('ChatApp.signup') }}">新規登録</a>
                </button>            
            
        </form>  
        {% endif %}
    </div>
</main>
{% endblock content %}

