{% extends 'base.html' %}

{% block title %}
<title>signup_complete</title>
{% endblock %}

{% block head %} 
{{ super() }} {# base.htmlのhead内容（metaタグや共通CSSなど）を継承する #}
{% block page_css %} {# このブロックを上書きして、auth.cssを読み込み、その後signup_complete.html固有のCSSを読み込む #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup_complete.css') }}" />
{% endblock %}
{% endblock %} 

{% block header %}{% endblock %}

{% block body %}
<div class="auth-wrapper">
    <div class="auth-container">
        
        <div class="container">
            <img src="{{ url_for('static', filename='img/image_アプリ名.png') }}">
        </div>

        <div class="icon">
            <img src="{{ url_for('static', filename='img/image_お皿.png') }}">
            <p class="description">アカウント作成が<br>完了しました</p>

            <button>
                <a href="{{ url_for('messages_view', family_id=family_id) }}">チャットルーム<br>へ移動</a>
            </button>
            
            <button>
                <a href="{{ url_for('signup_family_view') }}">家族アカウント<br>を作成する</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}