<!-- base.htmlを継承する -->
{% extends 'base.html' %}

{% block title %}ゴハンドースル{% endblock %}

{% block content %}
<main>
    <div>
        <h1 class="logo-text">ゴハンドースル</h1>
        <img src="static/img/image_お皿.png" alt="お皿の写真">

        <form>
            <p>ファミリーチャットに入る場合はこちらから！</p>
                <button>
                    <a href="#">ログイン</a>
                </button>
    
            <p>新規のファミリーチャット作成はこちらから！</p>
                <button>
                    <a href="{{ url_for('signup_view') }}">新規登録</a>
                </button>            
            
        </form>  
    </div>
</main>
{% endblock content %}

