/*チャット画面のCSS */


/* ========================== ヘッダー部分 ============================= */
#chat-header{
    display:flex;
    flex-direction: ;
    justify-content: space-between;
    background-color:white;
    position:sticky;

}

#chat-main{
    background-color:#ffd699;

}

ul{
    list-style-type: none;
}

.message-type-area{
    position:fixed;
}


button:hover{
    background-color: lightgray;
}