/*チャット履歴部分のCSS */

.chat-message{
    margin:0 auto;/*画面の中央に寄せる上下＋左右*/
    background-color:#ffd699;
    box-sizing: border-box;
    padding: 40px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

.message_user-myself{
    text-align: right;
    /*吹き出しを右側に寄せる*/
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;/*チャット間に余白をつくる*/
}

.message_user-others{
    text-align: left;
    /*吹き出しを左側に寄せる*/
    display: flex;
    justify-content: flex-start;
    /*ユーザーの名前を縦に表示する*/
    flex-direction: column;
    margin-bottom: 10px;
}

.box{
    position: relative;
    width: 60%;
    margin: 0;
    padding: 0.7em 0 0.4em 1em;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    /*white-space:行の折り返しを指定する*/
    white-space: pre-wrap;
}

.box-right{
    background-color: #ff751f;
}

.box-left{
    background-color: white;
}


.user-name{
    
}

.no-message{
    margin: 0 auto;
}



/*チャット送信部分のCSS */

.message-type-area{
    position:fixed absolute;/*absoluteで親要素に対する位置を固定している*/
}

.textarea{
    /*resizeテキストエリアの幅固定*/
    width: 450px;
    max-width: 100%;
    resize: vertical;
}

button:hover{
    background-color: lightgray;
}
