body {
    box-sizing: border-box;
}

.history-wrapper {
    width: 450px;
    margin: 0 auto;
    /* 画面中央に寄せる */
    min-height: 100vh;
    background-color: #FFD699;
}

.main-content {
    background-color: #FFD699;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-size: 24px;
    padding: 20px;
  }
  
h1 {
    background-color: #FF751F;
    color: white;
    padding: 8px;
    border-radius: 8px;
    width: 240px;
    font-size: 24px;
  }

.menu-list {
    width: 90%;
    margin: 20px;
}

.menu-list table {
    width: 100%;
}

.menu-list td {
    width: 50%;
    background-color: #FCE2BB;
    color: #F85F00;
    padding: 16px 24px;
    font-size: 20px;
    border: 1px solid #FFD699;
}

.menu-list tr {
    background-color: #FCE2BB;
}